@import "tailwindcss";


.home_top_background {
  background: radial-gradient(circle at center,
      #ff6a00 0%,
      #b83a00 40%,
      #7a1400 80%);

}


@keyframes marquee {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(-100%);
  }
}

.animate-marquee {
  display: inline-block;
  animation: marquee 25s linear infinite;
}

/* navbar  */